.main-slide{

}

.carousel .thumb{
    width: 5%;
    height: 50px;
}

.carousel{
    text-align: center;
}

.slide-container {
    position: relative;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 5px;
}

h3 {
    margin: 0;
}

p{
    margin: 5px 0 0;
}